html.dark {

  /* 自定义深色背景颜色 */
  --me-bg-color: #2b2b2b;

  background-color: var(--me-bg-color);
  --el-bg-color: var(--me-bg-color);         // el-dialog的背景色: 基础设置-标题
  --el-card-bg-color: var(--me-bg-color);    // el-tab的背景色: 基础设置-外观
  --el-bg-color-overlay: var(--me-bg-color); // el-tabs的背景色: Redis信息
}