html, body {
  margin: 0;
  padding: 0;

  // app的height单独加高度100%不生效
  height: 100%;
}

html {
  --hint-color: #22A;
  --drag-color: #BBB;
  --drag-hover-color: #36AD6A;
  --btns-backgroud-color: #EBEBEB;
}

html.dark {
  --hint-color: pink;
  --drag-color: #666;
  --drag-hover-color: #36AD6A;
  --btns-backgroud-color: #3B3D3E;

  // ElementPlus的黑色背景优化
  --el-bg-color: #2b2b2b !important;
  --menu-color: #363636
}

// SVG点击后外围方框的问题
svg {
  outline: none;
}

// 所有元素的盒子模型的宽高统一包含边框
// 原因：很多场景调试样式，需要加个边框测试
* {
  box-sizing: border-box;
}