html, body {
  margin: 0;
  padding: 0;

  // app的height单独加高度100%不生效
  height: 100%;
}

// SVG点击后外围方框的问题
svg {
  outline: none;
}

// 下拉框触发较大的外边框问题处理
.el-dropdown *:focus-visible {
  outline: none;
}

// 所有元素的盒子模型的宽高统一包含边框
// 原因：很多场景调试样式，需要加个边框测试
* {
  box-sizing: border-box;
}