html, body {
  margin: 0;
  padding: 0;
  height: 100%; /*app的height单独加高度100%不生效*/
  /*https://element-plus.org/zh-CN/component/typography#%E5%AD%97%E4%BD%93*/
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;;
  overflow: hidden;
}

/* CodeMirror */
/*//.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
//  font-family: Menlo, Consolas, Monaco, monospace !important;
//}*/

.codemirror-opacity {
  opacity: 0.6;
}

.codemirror-container {
  font-size: 15px !important;
}

/* 黑色主题 */
html.dark {
  /* 自定义深色背景颜色 */
  --me-bg-color: #2b2b2b;

  background-color: var(--me-bg-color);
  --el-bg-color: var(--me-bg-color);         /* el-dialog的背景色: 基础设置-标题 */
  --el-card-bg-color: var(--me-bg-color);    /* el-tab的背景色: 基础设置-外观    */
  --el-bg-color-overlay: var(--me-bg-color); /* el-tabs的背景色: Redis信息      */

  --el-fill-color-lighter: #2F2F2F;          /* el-table表格斑马纹 */
}

/*所有元素的盒子模型的宽高统一包含边框*/
/*原因：很多场景调试样式，需要加个边框测试*/
* {
  box-sizing: border-box;
}

/*SVG点击后外围方框的问题*/
svg {
  outline: none;
}

/*下拉框触发较大的外边框问题处理*/
.el-dropdown *:focus-visible {
  outline: none;
}

/* 单行文本省略号 */
.single-line-ellipsis {
  white-space: nowrap;     /* 禁止文本换行 */
  overflow: hidden;        /* 隐藏超出范围的内容 */
  text-overflow: ellipsis; /* 使用省略号 */
}

/* flex布局 */
.me-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 图标按钮 */
.icon-btn {
  cursor: pointer;
}

.icon-btn :hover{
  color: var(--el-color-primary);
}

/* 覆盖所有禁用按钮 */
*:disabled {
  cursor: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDYwLjEgKDg4MTMzKSAtIGh0dHBzOi8vc2tldGNoLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uL+WFs+mXreWkh+S7vTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPgogICAgICAgIDxsaW5lYXJHcmFkaWVudCB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIiBpZD0ibGluZWFyR3JhZGllbnQtMSI+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiNERUNFQTgiIG9mZnNldD0iMCUiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI0JEQTM3MyIgb2Zmc2V0PSIxMDAlIj48L3N0b3A+CiAgICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxnIGlkPSJpY29uL+WFs+mXreWkh+S7vSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IjI4IiBmaWxsPSIjRDhEOEQ4IiBvcGFjaXR5PSIwIj4KICAgICAgICAgICAgPHJlY3QgaWQ9IlJlY3RhbmdsZS0yIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiPjwvcmVjdD4KICAgICAgICA8L2c+CiAgICAgICAgPGcgaWQ9ImRpc2FibGUiIGZpbGw9InVybCgjbGluZWFyR3JhZGllbnQtMSkiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik04LDAgQzEyLjQxODI3OCwwIDE2LDMuNTgxNzIyIDE2LDggQzE2LDEyLjQxODI3OCAxMi40MTgyNzgsMTYgOCwxNiBDMy41ODE3MjIsMTYgMCwxMi40MTgyNzggMCw4IEMwLDMuNTgxNzIyIDMuNTgxNzIyLDAgOCwwIFogTTMuMTMwNzMxNjYsNC40OTQ4NDk0OCBMMy4wODQyNTc1OCw0LjU1ODgzMzAyIEMyLjQwMTAwMTE2LDUuNTMzMDY1OTEgMiw2LjcxOTcwMzUzIDIsOCBDMiwxMS4zMTM3MDg1IDQuNjg2MjkxNSwxNCA4LDE0IEM5LjMwODgxNjgyLDE0IDEwLjUxOTc1NTYsMTMuNTgwOTM0MiAxMS41MDU5NTY2LDEyLjg2OTY2MjEgQzExLjQyOTE5NDIsMTIuODI1OTY5OSAxMS4zNTc3MDI0LDEyLjc3MTkxNiAxMS4yOTI4OTMyLDEyLjcwNzEwNjggTDMuMjkyODkzMjIsNC43MDcxMDY3OCBDMy4yMjgwODM5OSw0LjY0MjI5NzU1IDMuMTc0MDMwMTQsNC41NzA4MDU3OCAzLjEzMDczMTY2LDQuNDk0ODQ5NDggWiBNOCwyIEM2LjY5MTE4MzE4LDIgNS40ODAyNDQ0NCwyLjQxOTA2NTg1IDQuNDk0MDQzNDMsMy4xMzAzMzc4NyBDNC41NzA4MDU3OCwzLjE3NDAzMDE0IDQuNjQyMjk3NTUsMy4yMjgwODM5OSA0LjcwNzEwNjc4LDMuMjkyODkzMjIgTDEyLjcwNzEwNjgsMTEuMjkyODkzMiBDMTIuNzcxOTE2LDExLjM1NzcwMjQgMTIuODI1OTY5OSwxMS40MjkxOTQyIDEyLjg2OTI2ODMsMTEuNTA1MTUwNSBDMTMuNTgwOTM0MiwxMC41MTk3NTU2IDE0LDkuMzA4ODE2ODIgMTQsOCBDMTQsNC42ODYyOTE1IDExLjMxMzcwODUsMiA4LDIgWiIgaWQ9IuW9oueKtue7k+WQiCI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+),
  auto !important;
  opacity: 0.8;
}

*.is-disabled {
  cursor: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDYwLjEgKDg4MTMzKSAtIGh0dHBzOi8vc2tldGNoLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uL+WFs+mXreWkh+S7vTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPgogICAgICAgIDxsaW5lYXJHcmFkaWVudCB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIiBpZD0ibGluZWFyR3JhZGllbnQtMSI+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiNERUNFQTgiIG9mZnNldD0iMCUiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI0JEQTM3MyIgb2Zmc2V0PSIxMDAlIj48L3N0b3A+CiAgICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxnIGlkPSJpY29uL+WFs+mXreWkh+S7vSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IjI4IiBmaWxsPSIjRDhEOEQ4IiBvcGFjaXR5PSIwIj4KICAgICAgICAgICAgPHJlY3QgaWQ9IlJlY3RhbmdsZS0yIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiPjwvcmVjdD4KICAgICAgICA8L2c+CiAgICAgICAgPGcgaWQ9ImRpc2FibGUiIGZpbGw9InVybCgjbGluZWFyR3JhZGllbnQtMSkiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik04LDAgQzEyLjQxODI3OCwwIDE2LDMuNTgxNzIyIDE2LDggQzE2LDEyLjQxODI3OCAxMi40MTgyNzgsMTYgOCwxNiBDMy41ODE3MjIsMTYgMCwxMi40MTgyNzggMCw4IEMwLDMuNTgxNzIyIDMuNTgxNzIyLDAgOCwwIFogTTMuMTMwNzMxNjYsNC40OTQ4NDk0OCBMMy4wODQyNTc1OCw0LjU1ODgzMzAyIEMyLjQwMTAwMTE2LDUuNTMzMDY1OTEgMiw2LjcxOTcwMzUzIDIsOCBDMiwxMS4zMTM3MDg1IDQuNjg2MjkxNSwxNCA4LDE0IEM5LjMwODgxNjgyLDE0IDEwLjUxOTc1NTYsMTMuNTgwOTM0MiAxMS41MDU5NTY2LDEyLjg2OTY2MjEgQzExLjQyOTE5NDIsMTIuODI1OTY5OSAxMS4zNTc3MDI0LDEyLjc3MTkxNiAxMS4yOTI4OTMyLDEyLjcwNzEwNjggTDMuMjkyODkzMjIsNC43MDcxMDY3OCBDMy4yMjgwODM5OSw0LjY0MjI5NzU1IDMuMTc0MDMwMTQsNC41NzA4MDU3OCAzLjEzMDczMTY2LDQuNDk0ODQ5NDggWiBNOCwyIEM2LjY5MTE4MzE4LDIgNS40ODAyNDQ0NCwyLjQxOTA2NTg1IDQuNDk0MDQzNDMsMy4xMzAzMzc4NyBDNC41NzA4MDU3OCwzLjE3NDAzMDE0IDQuNjQyMjk3NTUsMy4yMjgwODM5OSA0LjcwNzEwNjc4LDMuMjkyODkzMjIgTDEyLjcwNzEwNjgsMTEuMjkyODkzMiBDMTIuNzcxOTE2LDExLjM1NzcwMjQgMTIuODI1OTY5OSwxMS40MjkxOTQyIDEyLjg2OTI2ODMsMTEuNTA1MTUwNSBDMTMuNTgwOTM0MiwxMC41MTk3NTU2IDE0LDkuMzA4ODE2ODIgMTQsOCBDMTQsNC42ODYyOTE1IDExLjMxMzcwODUsMiA4LDIgWiIgaWQ9IuW9oueKtue7k+WQiCI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+),
  auto !important;
}

.is-disabled * {
  cursor: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDYwLjEgKDg4MTMzKSAtIGh0dHBzOi8vc2tldGNoLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uL+WFs+mXreWkh+S7vTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPgogICAgICAgIDxsaW5lYXJHcmFkaWVudCB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIiBpZD0ibGluZWFyR3JhZGllbnQtMSI+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiNERUNFQTgiIG9mZnNldD0iMCUiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI0JEQTM3MyIgb2Zmc2V0PSIxMDAlIj48L3N0b3A+CiAgICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxnIGlkPSJpY29uL+WFs+mXreWkh+S7vSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IjI4IiBmaWxsPSIjRDhEOEQ4IiBvcGFjaXR5PSIwIj4KICAgICAgICAgICAgPHJlY3QgaWQ9IlJlY3RhbmdsZS0yIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiPjwvcmVjdD4KICAgICAgICA8L2c+CiAgICAgICAgPGcgaWQ9ImRpc2FibGUiIGZpbGw9InVybCgjbGluZWFyR3JhZGllbnQtMSkiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik04LDAgQzEyLjQxODI3OCwwIDE2LDMuNTgxNzIyIDE2LDggQzE2LDEyLjQxODI3OCAxMi40MTgyNzgsMTYgOCwxNiBDMy41ODE3MjIsMTYgMCwxMi40MTgyNzggMCw4IEMwLDMuNTgxNzIyIDMuNTgxNzIyLDAgOCwwIFogTTMuMTMwNzMxNjYsNC40OTQ4NDk0OCBMMy4wODQyNTc1OCw0LjU1ODgzMzAyIEMyLjQwMTAwMTE2LDUuNTMzMDY1OTEgMiw2LjcxOTcwMzUzIDIsOCBDMiwxMS4zMTM3MDg1IDQuNjg2MjkxNSwxNCA4LDE0IEM5LjMwODgxNjgyLDE0IDEwLjUxOTc1NTYsMTMuNTgwOTM0MiAxMS41MDU5NTY2LDEyLjg2OTY2MjEgQzExLjQyOTE5NDIsMTIuODI1OTY5OSAxMS4zNTc3MDI0LDEyLjc3MTkxNiAxMS4yOTI4OTMyLDEyLjcwNzEwNjggTDMuMjkyODkzMjIsNC43MDcxMDY3OCBDMy4yMjgwODM5OSw0LjY0MjI5NzU1IDMuMTc0MDMwMTQsNC41NzA4MDU3OCAzLjEzMDczMTY2LDQuNDk0ODQ5NDggWiBNOCwyIEM2LjY5MTE4MzE4LDIgNS40ODAyNDQ0NCwyLjQxOTA2NTg1IDQuNDk0MDQzNDMsMy4xMzAzMzc4NyBDNC41NzA4MDU3OCwzLjE3NDAzMDE0IDQuNjQyMjk3NTUsMy4yMjgwODM5OSA0LjcwNzEwNjc4LDMuMjkyODkzMjIgTDEyLjcwNzEwNjgsMTEuMjkyODkzMiBDMTIuNzcxOTE2LDExLjM1NzcwMjQgMTIuODI1OTY5OSwxMS40MjkxOTQyIDEyLjg2OTI2ODMsMTEuNTA1MTUwNSBDMTMuNTgwOTM0MiwxMC41MTk3NTU2IDE0LDkuMzA4ODE2ODIgMTQsOCBDMTQsNC42ODYyOTE1IDExLjMxMzcwODUsMiA4LDIgWiIgaWQ9IuW9oueKtue7k+WQiCI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+),
  auto !important;
}

.is-disabled *::after {
  cursor: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDYwLjEgKDg4MTMzKSAtIGh0dHBzOi8vc2tldGNoLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uL+WFs+mXreWkh+S7vTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPgogICAgICAgIDxsaW5lYXJHcmFkaWVudCB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIiBpZD0ibGluZWFyR3JhZGllbnQtMSI+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiNERUNFQTgiIG9mZnNldD0iMCUiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI0JEQTM3MyIgb2Zmc2V0PSIxMDAlIj48L3N0b3A+CiAgICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxnIGlkPSJpY29uL+WFs+mXreWkh+S7vSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IjI4IiBmaWxsPSIjRDhEOEQ4IiBvcGFjaXR5PSIwIj4KICAgICAgICAgICAgPHJlY3QgaWQ9IlJlY3RhbmdsZS0yIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiPjwvcmVjdD4KICAgICAgICA8L2c+CiAgICAgICAgPGcgaWQ9ImRpc2FibGUiIGZpbGw9InVybCgjbGluZWFyR3JhZGllbnQtMSkiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik04LDAgQzEyLjQxODI3OCwwIDE2LDMuNTgxNzIyIDE2LDggQzE2LDEyLjQxODI3OCAxMi40MTgyNzgsMTYgOCwxNiBDMy41ODE3MjIsMTYgMCwxMi40MTgyNzggMCw4IEMwLDMuNTgxNzIyIDMuNTgxNzIyLDAgOCwwIFogTTMuMTMwNzMxNjYsNC40OTQ4NDk0OCBMMy4wODQyNTc1OCw0LjU1ODgzMzAyIEMyLjQwMTAwMTE2LDUuNTMzMDY1OTEgMiw2LjcxOTcwMzUzIDIsOCBDMiwxMS4zMTM3MDg1IDQuNjg2MjkxNSwxNCA4LDE0IEM5LjMwODgxNjgyLDE0IDEwLjUxOTc1NTYsMTMuNTgwOTM0MiAxMS41MDU5NTY2LDEyLjg2OTY2MjEgQzExLjQyOTE5NDIsMTIuODI1OTY5OSAxMS4zNTc3MDI0LDEyLjc3MTkxNiAxMS4yOTI4OTMyLDEyLjcwNzEwNjggTDMuMjkyODkzMjIsNC43MDcxMDY3OCBDMy4yMjgwODM5OSw0LjY0MjI5NzU1IDMuMTc0MDMwMTQsNC41NzA4MDU3OCAzLjEzMDczMTY2LDQuNDk0ODQ5NDggWiBNOCwyIEM2LjY5MTE4MzE4LDIgNS40ODAyNDQ0NCwyLjQxOTA2NTg1IDQuNDk0MDQzNDMsMy4xMzAzMzc4NyBDNC41NzA4MDU3OCwzLjE3NDAzMDE0IDQuNjQyMjk3NTUsMy4yMjgwODM5OSA0LjcwNzEwNjc4LDMuMjkyODkzMjIgTDEyLjcwNzEwNjgsMTEuMjkyODkzMiBDMTIuNzcxOTE2LDExLjM1NzcwMjQgMTIuODI1OTY5OSwxMS40MjkxOTQyIDEyLjg2OTI2ODMsMTEuNTA1MTUwNSBDMTMuNTgwOTM0MiwxMC41MTk3NTU2IDE0LDkuMzA4ODE2ODIgMTQsOCBDMTQsNC42ODYyOTE1IDExLjMxMzcwODUsMiA4LDIgWiIgaWQ9IuW9oueKtue7k+WQiCI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+),
  auto !important;
}